.articolo-page{
    text-align: center;
    font-family: 'Open Sans';
}

.nonTrovato{
    margin: 40px 0px 80vh 0px;
    text-align: center;
    font-family: adobe-garamond-pro,Garamond,Georgia,serif;
    font-weight: 700;
    color:black;
    font-size: 40px;
    line-height: 30px;
}

@media only screen and (max-width: 700px) {
    .articolo-page{
        text-align: left;
        margin-bottom: 10vw;
    }
    
    .correlated--title {
        margin: 0vw 0vw 4vw 4vw;
    }

    .nonTrovato{
        margin: 20vw 0px auto 0px;
        text-align: center;
        font-family: adobe-garamond-pro,Garamond,Georgia,serif;
        font-weight: 700;
        color:black;
        font-size: 40px;
        line-height: 30px;
    }
}


