.formArticolo{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.form--title{
    font-family: 'Open Sans';
    margin-bottom: 5vw;
}

.form--subtitle{
    font-family: 'Open Sans';
    margin-bottom: 5vw;
}

.form--tag{
    font-family: 'Open Sans';
    margin-bottom: 5vw;
}

.form--tagButton{
    margin-bottom: 5vw;
}

.form--text{
    font-family: 'Open Sans';
    margin-bottom: 5vw;
    height: 300vw;
}

.form--url{
    font-family: 'Open Sans';
    margin-bottom: 5vw;
}

.errmsg{
    width: auto;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 3vw;
    background-color: rgba(251, 37, 37, 0.753);
}

@media only screen and (max-width: 700px) {
    .formArticolo{
        margin: 20px;
    }
}

.inviato{
    margin: 30px;
}