.articolo-page{
    text-align: center;
}

.articolo-title{
    margin: 40px 0px 30px 20px;
    font-family: adobe-garamond-pro,Garamond,Georgia,serif;
    font-weight: 700;
    color:black;
    font-size: 40px;
    line-height: 30px;
}

.articolo-image{
    width: 100vw;
    height: 60vh;
    margin-left: 20px;
    object-fit: contain;
}

.articolo-subtitle{
    margin: 40px 0px 10px 5vw;
    text-align: left;
    font-family: adobe-garamond-pro,Garamond,Georgia,serif;
    font-weight: 600;
    color:rgb(55, 51, 51);
    font-size: 30px;
}

.articolo-body{
    white-space: pre-line;
    margin: 20px 5vw 10px 5vw;
    font-family: adobe-garamond-pro,Garamond,Georgia,serif;
    font-weight: 300;
    color:black;
    font-size: 20px;
    line-height: 1.4;
    text-align: justify;
}

@media only screen and (max-width: 700px) {
    .articolo-page{
        text-align: left;
    }
    .articolo-title{
        margin: 2vh 5vw 0vw 5vw;
        font-family: adobe-garamond-pro,Garamond,Georgia,serif;
        font-weight: 700;
        color:black;
        font-size: 7vw;
        line-height: 8vw;
    }

    .articolo-image{
        width: 100%;
        height: 50vw;
        object-fit: fill;
        margin-top: 10vh;
        margin-left: 0px;
    }

    .articolo-subtitle{
        margin: 0vw;
        padding-top: 3vw;
        padding-left: 5vw;
        padding-right: 5vw;
        color: rgb(62, 57, 57);
        font-size: 5.4vw;
        line-height: 1.3;
        font-weight: 500;
        text-align: justify;
        padding-bottom: 10px;
        border-bottom: 5px double #CCC;

    }
    .articolo-body{
        margin: 1vh 5vw 0px 5vw;
        font-size: 4.8vw;
        line-height: 1.5;
    }
}



.nonTrovato{
    margin: 40px 0px 80vh 0px;
    text-align: center;
    font-family: adobe-garamond-pro,Garamond,Georgia,serif;
    font-weight: 700;
    color:black;
    font-size: 40px;
    line-height: 30px;
}