
.home-container {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 8vh auto repeat(5, auto) 2.5rem;
    grid-template-areas:
    "nav nav nav "
    "card0 card0 ."
    "card1 card2 card3"
    "card4 card5 card6"
    "card7 card8 card9"
    "footer footer footer "
    ;
    grid-gap: 0.5vw;
}


.card {
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
}

.card > a:link{
    text-decoration: none;
}

.card:hover{
    text-decoration: underline;
    cursor:pointer;
}

.card--title{
    color:black;
    font-size: 2vw;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0.6vw;
}
.card--subtitle{
    color:black;
    font-size: 1.2vw;
    font-weight: 500;
}

.card--image{
    border-radius: 15px;
    width:31vw;
    height:13vw;
}

#card0 img {
    width: 40vw;
    height: 18vw;
}





#card0 {
    grid-area: card0;
}

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#card3 {
    grid-area: card3;
}

#card4 {
    grid-area: card4;
}

#card5 {
    grid-area: card5;
}

#card6 {
    grid-area: card6;
}
#card7 {
    grid-area: card7;
}
#card8 {
    grid-area: card8;
}
#card9 {
    grid-area: card9;
}

@media only screen and (max-width: 900px) {
    .home-container{
        grid-template-columns: 1fr;
        grid-template-rows: 14vw repeat(10, auto) repeat(3, auto);
        grid-template-areas:
        "nav"
        "card0"
        "card1" 
        "card2" 
        "card3"
        "card4" 
        "card5" 
        "card6"
        "card7"
        "card8"
        "card9"
        "prevpage"
        "nextpage"
        "footer"
        ;
        grid-gap: 0px;
    }

    .prevPage {
        grid-area: prevpage;
        margin: 3vw auto 5vw auto;
        padding: 1vw 2vw 1vw 2vw;
        font-weight: 600;      
        border: 1px solid
    }
    .nextPage {
        font-weight: 600;    
        padding: 1vw 2vw 1vw 2vw;
        margin: auto;
        border: 1px solid;
        grid-area: nextpage;
    }
    .card{
        padding: 0px;
        border-radius: 0px;
    }

    #card0 img {
        width: 100vw;
        height: 60vw;
    }
    .card--image{
        border-radius: 0px;
        width: 100vw;
        height: 60vw;
        margin-bottom: 0px;
    }
    .card--date{
        text-align: left;
        margin-left: 3vw;
        margin-top: 1vw;
        margin-bottom: 0vw;
        font-size: 3.5vw;
        font-weight: 600;
    }
    .card--title{
        font-size: clamp(3vw, 6.5vw, 7vw);
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
        text-align: left;
        line-height: 8vw;
    }
    .card--subtitle{
        font-size: 3.3vw;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: 4vw;
        line-height: 5vw;
        text-align: left;
    }
    .footer{
        
    }
}

@keyframes loaderSwipeAnim{
    0%{
        left: .100%;
    }
    100%{
        left:100%
    }
}


@media only screen and (max-width: 320px) {
    .card--image{
        object-fit: cover;
    }
}