.home-container {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.nextPage, .prevPage{
    width: fit-content;
    padding: 1vw 2vw 1vw 2vw;
    font-weight: 600;    
    margin: auto;
    border: 1px solid;
    text-align: center;
}
.nextPage{
    margin-top: 3vw;
}

@media only screen and (max-width: 900px) {
    .home-container{
        display: flex;
        flex-direction: column;
    }
    .card--container{
        margin-top: 17vw;
    }

    .nextPage, .prevPage{
        width: fit-content;
        padding: 1vw 2vw 1vw 2vw;
        font-weight: 600;    
        margin: auto;
        border: 1px solid;
        text-align: center;
    }
    .nextPage:hover, .prevPage:hover{
        cursor: pointer;
    }
    .nextPage{
        margin-top: 3vw;
    }
}