.card {
    text-align: center;
    margin-bottom: 15px;
    width: 350px;
}

.card > a:link{
    text-decoration: none;
}

.card:hover{
    text-decoration: underline;
    cursor:pointer;
}

.card--image{
    border-radius: 3px;
    height: 200px;
    width: 350px;
}

.card--info{
    display: flex;
    justify-content: left;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-left: 3px;
}

.card--title{
    color:black;
    text-align: left;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card--subtitle{
    color:black;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.card--tag{
}

@media only screen and (max-width: 900px) {
    .card{
        padding: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
        width: 100vw;
    }

    .card--image{
        border-radius: 0px;
        width: 94vw;
        height: 55vw;
        margin: 0vw 3vw;
    }
    .card--info{
        display: flex;
        justify-content: left;
        margin-left: 3vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-size: 3.5vw;
        font-weight: 600;
    }
    .card--tag{
        margin-left: 2vw;
    }
    .card--title{
        font-size: clamp(3vw, 6.5vw, 7vw);
        margin: 0vw 3vw 2vw 3vw;
        text-align: left;
        line-height: 8vw;
    }
    .card--subtitle{
        font-size: 3.3vw;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: 4vw;
        line-height: 5vw;
        text-align: left;
    }

}