*{
    margin:0px
}
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 225, 206);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-bottom: 1px solid;
}

nav > a > img {
    height: 50px;
    margin-top: 2px;
    margin-right: 15px;
    margin-left: 20px;
}

nav > a > h1 {
    font-family: 'Inter';
    font-weight: 900;
    color:black;
    font-size: 40px;
    line-height: 30px;
}

nav > a:link{
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    nav{
        position: fixed;
        top:0;
        width: 100%;
        height: 14vw;
    }
    nav > a > img {
        height: 14vw;
    }
    nav > a > h1 {
        font-size: 5vw;
    }
    
}